      /*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

      body{
        font-family: 'Nunito',  Microsoft JhengHei, serif;
        font-size: 15px;
      }


      .copyright{
        text-align: center;
      }

      .navbar-band img{
          height: 100%;
      }

      .space-20{
          height: 20px;
      }

      .space-100{
          height: 100px;
      }

      .headline h3{
          margin-left: 15px;
      }

      .headline-text{
          font-size: 14px;
      }

      .list-body{
        padding: 5px;
      }

      .panel-title{
        font-size: 22px;
      }

      .list-group-item{
        padding: 10px;
        word-break: break-all;
      }

      .list-group-item span{
        cursor: pointer;
      }

      .list-group-item span:hover{
          background-color: #676666;
      }

      #list-body-item, #pager-prev, #pager-next{
        display: none;
      }

      .navbar-right{
        margin-right: 0px;
      }

      #loading-dialog{
        margin: 10px;
      }
